@mixin modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

@mixin modal {
  border: solid 2px #fff;
  border-radius: 8px;
  background-color: $primary;

  h2 {
    background-color: primary;
    color: $secondary;
    padding: 0 20px;
  }
}

@mixin modal-content {
  padding: 20px;
}

@mixin modal-transition {
  .fade-enter-active, .fade-leave-active {
    transition: all .3s;
    .modal-container {
      transition: all .3s;
    }
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
    .modal-container {
      top: calc(50% - 23%);
    }
  }
}