@mixin project-content {
  > * {
    padding: 0 1rem;
  }

  h1 {
    text-align: left;
    font-size: 23px;
    font-weight: normal;
  }

  h2 {
    margin: 3.563rem 0 1.25rem;
    font-size: 36px;
    font-weight: normal;
  }

  h3 {
    margin: 2.5rem 0 0.5rem;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
  }

  p, .let, .center, .right {
    color: #fff;
    font-size: 15px;
  }

  a {
    cursor: pointer;
    color: $secondary;
    text-decoration: underline;
  }

  img {
    max-width: 100%;
    padding: 5% 0;
  }

  .left {
    text-align: left;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  div[class^="col-"] {
    @include mobile-only {
      display: block;
      width: 100%;
    };
  }

  .col {
    &-1 {
      display: inline-block;
      vertical-align: top;
      width: 25%;
    }
    &-2 {
      display: inline-block;
      vertical-align: top;
      width: 50%;
    }
    &-3 {
      display: inline-block;
      vertical-align: top;
      width: 75%;
    }
  }
}