@mixin project-content {
  h1 {
    text-align: left;
    font-size: 23px;
    font-weight: normal;
  }

  h2 {
    font-size: 20px;
    font-weight: normal;
  }

  h3 {
    font-size: 18px;
    font-weight: normal;
  }

  p {
    font-size: 15px;
    margin: 5px 0;
  }

  img {
    max-width: 100%;
    max-height: 300px;
  }

  .left {
    text-align: left;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }
}