
$primary: #174240;
$secondary: #F195A5;
$white: #fff;
$projectSlideWidth: 60%;
$projectSlideHeight: 50%;

$slideOpacity: 0.7;
$slideDurationHalf: .5s;
$slideDuration: 1s;

@mixin mobile-small {
  @media (max-width: 399px) { @content; }
}

@mixin no-small {
  @media (min-width: 400px) { @content; }
}

@mixin mobile-only {
  @media (max-width: 599px) { @content; }
}

@mixin tablet-portrait {
  @media (min-width: 600px) { @content; }
}

@mixin tablet-landscape {
  @media (min-width: 900px) { @content; }
}

@mixin desktop {
  @media (min-width: 1200px) { @content; }
}

@mixin big-desktop {
  @media (min-width: 1800px) { @content; }
}