h1 {
  font-family: 'Eczar';
  font-size: 5rem;
  line-height: 72px;
  // border: 0.5px solid #fff;
}

h2 {
  font-family: 'Eczar';
  font-size: 2.375rem;
  color: #F195A5;
}

h3 {
  font-family: 'Eczar';
  letter-spacing: 6.5px;
  font-size: 1.125rem;
  color: #F195A5;
}

p {
  font-family: 'Space Mono';
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.menu {
  font-family: 'Space Mono';
  font-size: 1rem;
  color: #fff;
  letter-spacing: 2px;
  opacity: 0.5;
}