h1 {
  font-family: 'Eczar';
  color: $secondary;

  @include tablet-portrait {
    font-size: 5rem;
    line-height: 4.5rem;
  }

  @include mobile-only {
    font-size: 3.875rem;
    line-height: 4.125rem;
  };
}


h2 {
  font-family: 'Eczar';
  color: $secondary;

  @include tablet-portrait {
    font-size: 2.375rem;
  }

  @include mobile-only {
    font-size: 2.063rem;
  };
}

h3 {
  font-family: 'Eczar';
  letter-spacing: 6.5px;
  color: $secondary;

  @include tablet-portrait {
    font-size: 1.125rem;
  }

  @include mobile-only {
    font-size: 1rem;
  };
}

p {
  font-family: 'Space Mono';
  color: #fff;

  @include tablet-portrait {
    font-size: 1.125rem;
    line-height: 1.70rem;
    letter-spacing: -0.2px;
  }

  @include mobile-only {
    font-size: 1rem;
    line-height: 1.625rem;
  };
}
