@import "text.scss";

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@600&display=swap");

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

.project-content {
  @include project-content;
}

.container {
  background-color: $primary;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  font-family: Roboto;
}

.title {
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  font-size: 1rem;
  border: none;
  outline: none;
  // border-bottom: solid 1px $secondary;
  // border-right: solid 1px $secondary;
  color: #fff;
  background: none;
  // border-radius: 5px;
  padding: 5px;
  min-width: 100%;
  max-width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  height: 33px;
}

.input-container {
  position: relative;

  // &:before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   background-color: $secondary;
  //   width: 1px;
  //   height: 100%;
  //   left: 0;
  //   bottom: 0;
  // }

  &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: $secondary;
    width: 40%;
    height: 1px;
    left: 0;
    bottom: 0;
    transition: all .3s ease-in-out;
  }

  &:focus-within {
    &:after {
      width: 100%;
    }
  }
}

button {
  outline: none;
  border: solid 1px $secondary;
  background: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 4px -4px $secondary;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:disabled {
    &:hover {
      box-shadow: none;
    }
  }
}

.links {
  padding-top: 15px;
}

ul {
  padding-left: 0;
}
li {
  list-style: none;
}

.notifications {
  padding: 10px;
  margin: 10px 10px 5px;
  font-size: 1rem;
  border-radius: 5px;
  color: #ffffff;
  background: #44A4FC;

  &.warn {
    background: #d35400;
  }

  &.error {
    background: #fff;
    color: #c0392b;
  }

  &.success {
    background: #fff;
    color: $primary
  }
}

// Pages animations

// transition between home page and project page on home page
.home-to-project-leave-active + .footer {
  transition: transform 0.4s ease-in-out 0.6s;
  transform: translateX(100%);
}

@keyframes pageEnterActive {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.page-enter-active {
  animation: 0.4s ease backwards pageEnterActive;
}

@keyframes pageLeaveActive {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.page-leave-active {
  animation: 0.4s ease forwards pageLeaveActive;
}
