.page-content {
  max-width: 65rem;
  min-height: calc(100vh - 10rem);
  margin: 0 auto;
  padding-top: 2rem;

  > * {
    padding: 0 1rem;
  }

  h1 {
    margin: 0 auto 2.688rem;
  }

  form {
    margin: 2rem auto;
    max-width: 40rem;

    label {
      display: block;
      color: #fff;
      font-family: 'Space Mono';
      margin: 1rem 0 .5rem;
      font-size: 1.125rem;
    }

    input {
      width: 100%;
    }

    textarea {
      width: 100%;
    }

    button {
      margin-top: 2rem;
    }
  }
}
