// .container {
//   background-color: $secondary;
// }


// .page-enter,
// .page-leave-active {
//   opacity: 0;
//   transform: translate(30px, 0);
// }
// .page-leave-active,
// .page-enter {
//   opacity: 0;
//   transform: translate(-30px, 0);
// }

.container {
  overflow: hidden;
}

@keyframes projectTransition {
  0% {
    width: $projectSlideWidth;
    height: $projectSlideHeight;
    top: 25%;
    left: 15%;
  }

  50% {
    width: $projectSlideWidth;
    height: $projectSlideHeight;
    top: -5rem;
    left: 0;
  }

  100% {
    width: 100%;
    height: 80vh;
    top: -5rem;
    left: 0;
  }
}

@keyframes projectTitleTransition {
  0% {
    opacity: 0;
    // transform: translateX(-3rem);
  }

  // 50% {
  //   opacity: 1;
  //   transform: translateX(-3rem);
  // }

  100% {
    opacity: 1;
    // transform: translateX(0);
  }
}

// transition between home page and project page on project page
.home-to-project-enter-active {
  > h1 {
    // position: relative;

    animation: .3s ease 0 1 normal none projectTi tleTransition;
    // animation: .3s ease .7s 1 normal backwards slideText;

  }
}

// transition between home page and project page on home page
.home-to-project-leave-active {
  transition: all 1s linear;
  height: 101vh;
  .projects-slider {
    .arrow {
      transition: all .3s ease-in-out .5s;
      transform: translateX(50vw);
    }

    .slide {
      &-next {
        .project {
          left: 20%;
        }
      }
      &-active {
        .project {
          animation: 1s ease projectTransition;
          .project-description {
            transition: all .2s ease;
            opacity: 0;
            // bottom: calc(-4rem - 8.063rem);
            // left: 17.5%;
          }
        }
      }
    }
  }

  .footer {
    transition: all .4s ease-in-out .6s;
    transform: translateX(100%);
  }
}
