@keyframes projectTransition {
  0% {
    width: $projectSlideWidth;
    height: $projectSlideHeight;
    top: 25%;
    left: 15%;
  }

  50% {
    width: $projectSlideWidth;
    height: $projectSlideHeight;
    top: -5rem;
    left: 0;
  }

  100% {
    width: 100%;
    height: 80vh;
    top: -5rem;
    left: 0;
  }
}

@keyframes projectTransition2 {
  0% {
    width: $projectSlideWidth;
    height: $projectSlideHeight;
    top: 25%;
    left: 15%;
  }

  100% {
    width: 0;
    height: 80vh;
    top: -5rem;
    left: 50%;
  }
}

@keyframes listTransitionMobile {
  0% {
    margin: 6rem 1.875rem 0;
  }

  100% {
    margin: 0;
    padding: 0;
  }
}

@keyframes listItemTransitionMobile {
  0% {
    margin: 2rem auto 3rem;
  }

  100% {
    margin: 2rem 0 3rem;
    width: 100;
    max-width: none;
  }
}

@keyframes projectTransitionMobile {
  0% {
    height: 85%;
  }

  // 50% {
  //   width: $projectSlideWidth;
  //   height: $projectSlideHeight;
  //   top: -5rem;
  //   left: 0;
  // }

  100% {
    height: 80vh;
  }
}

// transition between home page and project page on home page
.home-to-project-leave-active {
  transition: all 1s linear;
  @include tablet-portrait {
    // .projects-slider {
      .arrow {
        transition: all .3s ease-in-out .5s;
        transform: translateX(50vw);
      }

      .slide {
        &-next {
          .project {
            left: 20%;
          }
        }
        &-active {
          .project {
            animation: 1.1s ease projectTransition;
            .project-description {
              transition: all .2s ease;
              opacity: 0;
            }
          }
        }
      }
    // }
  }

  @include mobile-only {
    ul {
      position: relative;
      animation: 1.1s ease listTransitionMobile;
      .slide {
        &-active {
          animation: 1.1s ease listItemTransitionMobile;
          .project {
            animation: 1.1s ease projectTransitionMobile;
            // position: ;
            .project-description {
              transition: all .2s ease;
              opacity: 0;
              // bottom: calc(-4rem - 8.063rem);
              // left: 17.5%;
            }
          }
        }
      }
    }
  }
}

.page-leave-active {
  // .projects-slider {
    transition: all .5s ease;
    opacity: 0;
  // }
}

@keyframes projectTitleTransition {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes projectImgTransition {
  0% {
    width: 0;
    left: 50%;
  }

  100% {
    width: 100%;
    left: 0;
  }
}


// transition between home page and project page on project page
.home-to-project-enter-active {
  .page-content {
    > h1 {
      animation: .3s ease backwards projectTitleTransition;
    }

    // .project {
    //   &-img {
    //     animation: .5s ease backwards projectImgTransition;
    //   }
    // }
  }
}
