.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  form {
    width: 300px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 5px;
    label {
      color: #fff;
    }
    input {
      width: 100%;
      margin: 15px 0 20px;
    }
    button {
      margin-top: 10px;
    }
  }
}