@include modal-transition;

.modal {
  &-container {
    @include modal-container;
  }

  color: #fff;

  .input-container {
    padding-bottom: .1rem;
    margin-bottom: .5rem;
  }

  input {
    background: none;
  }

  button {
    margin-top: .5rem;
  }

  @include modal;
  padding: 20px;
  width: 300px;
  top: calc(50% - 20%);
  left: calc(50% - 20%);
  h3 {
    margin: 0 0 2rem 0;
  }
  button:first-of-type {
    margin-right: 10px;
  }
}
