@include modal-transition;


.modal {
  &-container {
    @include modal-container;
  }
  width: 90%;
  max-width: 600px;
  min-height: 400px;
  @include modal;

  &-content {
    height: 500px;
    overflow-y: scroll;
    @include modal-content;

    label {
      display: block;
      color: #fff;
      margin: 0.5rem 0;
    }

    button:disabled {
      opacity: 0.6;
    }

    .upload {
      max-width: 250px;
      margin: 0 auto;
      position: relative;
      padding-top: 2.5rem;

      h3 {
        color: #fff;
      }

      input {
        width: 100%;
        margin-bottom: 30px;
      }

        .upload-file {
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;
          width: 7rem;
          height: 6rem;
          // background: $secondary;
          border-radius: 5px;
          color: #fff;
          border: solid 2px $secondary;
          background-size: cover;
          background-position: center;
          margin-right: 15px;
          input[type="file"] {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
          }
        }

        button {
          position: absolute;
          right: 0;
          bottom: 0;
        }  label {
          display: block;
          margin: 0.25em 0;
        }

        button:disabled {
          opacity: 0.6;
        }
    }

    .tab-header {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 2rem;
      // border-bottom: 2px solid #000;
      li {
        position: relative;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        background: none;
        border: 0;
        padding: 8px;
        cursor: pointer;
        overflow: hidden;
        &:before, &:after {
          content: '';
          transition: all linear .3s;
          display: block;
          width: 50%;
          height: 2px;
          background-color: $secondary;
          position: absolute;
        }
        &:before {
          left: -50%;
          top: 0;
        }
        &:after {
          right: -50%;
          bottom: 0;
        }
        &.active {
          &:before {
            left: 25%;
          }
          &:after {
            right: 25%;
          }
        }
      }
    }

    .image-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      li {
        position: relative;
        width: 150px;
        height: 150px;
        background: center / cover no-repeat;
        margin: 15px;
        overflow: hidden;
        cursor: pointer;
        .img {
          &-delete,
          &-main {
            position: absolute;
            width: 55px;
            height: 55px;
            background: $primary;
            border: solid 2px $secondary;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .icon {
              position: absolute;
            }
          }
          &-delete {
            top: -20px;
            right: -20px;
            .icon {
              bottom: 11px;
              left: 11px;
            }
          }

          &-main {
            bottom: -20px;
            right: -20px;
            .icon {
              top: 11px;
              left: 11px
            }
          }

          &-add {
            position: absolute;
            display: flex;
            left: -40%;
            top: 0;
            justify-content: flex-start;
            align-items: center;
            color: #fff;
            height: 100%;
            width: 40%;
            z-index: 1;
            overflow: hidden;
            transition: all .3s ease-out;

            &:before {
              content: '';
              position: absolute;
              left: -20px;
              height: 150%;
              width: 100%;
              background-color: $secondary;
              transform: rotate(-15deg);
              z-index: -1;
            }

            .icon {
              position: absolute;
              bottom: 7px;
              right: 20px;
            }
          }
        }

        &:hover {
          .img-add {
            left: 0;
          }
        }
      }
    }
  }
}
