.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Space Mono';
  height: 5rem;
  color: #fff;
  width: 100%;
  opacity: 0.5;
  text-align: center;
  p {
    @include tablet-portrait {
      font-size: 0.875rem;
      letter-spacing: 1.75px;
    }

    @include mobile-only {
      font-size: 0.75rem;
      letter-spacing: 1.5px;
    }
   }
}