header {
  display: flex;
  height: 5rem;
  width: 100%;
  padding: 1rem 3rem;
  max-width: 1800px;
  margin: 0 auto;

  h1 {
    color: #fff;
    @include mobile-only {

    }
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .burger {
      position: relative;
      width: 25px;
      height: 15px;
      cursor: pointer;
      > div {
        position: absolute;
        height: 1.5px;
        background-color: #fff;
        transition: all .3s ease-in-out;
        &:first-child {
          top: 0;
          right: 0;
          width: 25px;
        }
        &:last-child {
          top: 10px;
          right: 0;
          width: 15px;
        }
      }
      &.opened {
        > div {
          width: 25px;
          &:first-child {
            top: 5px;
            transform: rotate(-45deg);
          }
          &:last-child {
            top: 5px;
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  @include tablet-portrait {
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
  }

  @include mobile-only {
    flex-flow: column;
  }

  .menu {
    display: flex;
    z-index: 10;

    li {
      cursor: pointer;
    }

    @include tablet-portrait {
      flex-flow: row;
      font-family: 'Space Mono';
      font-size: 1rem;
      letter-spacing: 2px;
      li {
        margin-left : 2.3rem;
        a {
          color: #fff;
          opacity: 0.5;
        }
        &.active {
          a {
            font-weight: bold;
            opacity: 1;
          }
        }
      }
    }

    @include mobile-only {
      position: absolute;
      align-items: center;
      flex-flow: column;
      background-color: $primary;
      top: 5rem;
      left: 0;
      width: 100%;
      height: calc(100vh - 5rem);
      overflow: hidden;

      li {
        margin: 3rem 0;

        &:first-child {
          margin-top: 5rem;
        }
      }
    }
  }

  .menu-enter-active, .menu-leave-active {
    transition: all .3s ease-in;
  }
  .menu-enter, .menu-leave-to {
    opacity: 0;
  }
}